body {
    font-family: arial,sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff6f0;
    color: #333;
  }
  
  
  header {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(93, 27, 27);
    font-size: xx-large;
    background-color:rgb(246, 101, 125);
    padding: 20px;
    text-align: center;
  }
  
  nav a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  .tag {
    background-color: rgb(82, 36, 44);
    color: white;
    padding: 60px 20px;
    text-align: center;
  }
  
  
  section {
    padding: 40px 20px;
    border-bottom: 1px solid #eee;
    text-align: center;
  }
  
  h2 {
    font-style:italic;
    color: #9b7514;
    height: 20px;
  }
  
  h3 {
     color:#744f35;
     font-size:xx-large;
     font-style:italic
  }
  h4 {
      font-style:normal;
      color:black;
      font-size:larger;
  }
  
  h5{
      font-weight: 800;
      font-size:large;
  }
  
  .tag {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5em;
    font-weight: bold;
    color:rgb(108, 168, 190);
    text-transform: uppercase;
  
  }
  nav a:hover{
    color: black;
  }
  footer:hover{
      color:black;
  }
  
  .popular ul {
    list-style-type: square;
    padding-left: 20px;
    list-style: none;
  }
  
  .event {
    margin-bottom: 20px;
  }
  
  footer {
    background-color: #aa7148;
    color: white;
    text-align: center;
    padding: 10px;
  }
  
  
  
  @media (max-width: 768px) {
    header {
      font-size: x-large;
      padding: 15px;
    }
  
    nav a {
      margin: 0 10px;
      font-size: 0.9em;
    }
  
    .tag {
      padding: 40px 10px;
      font-size: 1.3em;
    }
  
    section {
      padding: 30px 15px;
    }
  
    h2 {
      font-size: 1.5em;
      height: auto;
    }
  
    h3 {
      font-size: 1.8em;
    }
  
    h4 {
      font-size: 1.3em;
    }
  
    h5 {
      font-size: 1.1em;
    }
  
    img {
      max-width: 100%;
      height: auto;
    }
  
    .about img {
      height: auto;
    }
  
    .popular ul {
      padding-left: 10px;
    }
  }
  
  @media (max-width: 480px) {
    header {
      font-size: large;
      padding: 10px;
    }
  
    nav {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    nav a {
      margin: 8px 0;
      font-size: 1em;
    }
  
    .tag {
      padding: 30px 10px;
      font-size: 1.1em;
    }
  
    section {
      padding: 20px 10px;
    }
  
    h2 {
      font-size: 1.3em;
    }
  
    h3 {
      font-size: 1.5em;
    }
  
    h4 {
      font-size: 1.1em;
    }
  
    h5 {
      font-size: 1em;
    }
  
    img {
      max-width: 100%;
      height: auto;
    }
  
    .about img {
      height: auto;
    }
  }
  
  
  
  